<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Вітаємо, {{name}}!</h1>
    <p>
      Ви отримали цей лист, тому що було надіслано запит на скидання пароля для
      вашого облікового запису.
    </p>
    <p>Щоб скинути пароль, перейдіть за посиланням:</p>
    <a href="{{link}}">Скинути пароль</a>
    <p>Посилання дійсне протягом 15 хвилин.</p>
    <p>Якщо ви не надсилали цей запит, просто проігноруйте цей лист.</p>
  </body>
</html>
